.abilityScoreBox {
  // height: 10vh;
  min-height: 90px;
  width: 100%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  overflow: visible;
  align-items: center;
  position: relative;
  border-radius: 15px;
}

.abilityScore {
  position: absolute;
  bottom: -35%;
}

.dot {
  height: 3em;
  width: 3em;
  border: 1px solid black;
  border-radius: 50%;
  display: inline-block;
  text-align: center;;
  background-color: white;
  span {
    position:absolute;
    top:50%; 
    left:50%;
    transform: translate(-50%, -50%);
    margin:0;
  }
}

.abilityModifier {
  flex: 1;
  span {
    font-size: 40px;
    position:absolute;
    top:45%; 
    left:50%;
    transform: translate(-50%, -50%);
    margin:0;
  }
}